<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
</head>
<body>
    <h1>Quiz Words</h1>

    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Word</th>
                <th>Part of Speech</th>
                <th>Definition</th>
            </tr>
        </thead>
        <tbody>
            <% chosenWords.forEach(wordObj => { %>
                <tr>
                    <td><%= wordObj.word %></td>
                    <td><%= wordObj.part %></td>
                    <td><%= wordObj.def %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>